 @tailwind base;
@tailwind components;
@tailwind utilities;
/*
html, body{
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background: #0a192f;
  
  color: wheat;
}

button{
  background: rgb(143, 226, 28);
  color: rgb(16, 2, 2);
  padding: 0 145px;
  border-radius: 25px;
  border: 2px, solid #fff;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .5s;

}

button:hover{
  background-color: rgb(83, 83, 211);
} */